
/* General */
body {
    width: 800px;
    margin: 0 auto;
    background: url("images/background_grey.jpg");
} 

/* Typography */
h1, h2 {
    text-align: center;
    color: #df0000;
}

/* Block Styling */
.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* background: purple; */
    color: rgb(255, 90, 14);
}

/* Styling the products display */
.item img {
    width: 200px;
    height:200px;
}

/*the following is for the header and footer table per lab5 part 7*/
.large-text {
  font-size: 36px; /*adjust the font size as needed */
  font-weight: bold;
}

.italic-text {
  font-size: 36px; /* adjust font size  */
  font-style: italic;
}

/* Div children of body */
body > div {
    border: 10px solid rgb(198, 0, 248);
    display: flex;
}

.table-header {
  font-size: 36px; /* Adjust the font size as needed */
  text-align: center;
}

/* Style for the entire table */
table {
  margin: 0 auto; /* Center the table  */
  border-collapse: collapse; /* Remove spacing between table cells */
}

/* Style for table cells, center the purchase button  */
td {
  padding: 50px; 
  text-align: center;
}

/* Style for quantity label and input */
.item label, .item input {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.purchase-btn {
  display: block;
  width: 150px;
  height: 50px;
  margin: 20px auto;
  background-color: rgb(8, 194, 8);
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* when the curser goes over the purchase button it changes colors */
.purchase-btn:hover {
  background-color: #b300a4;
}