body {
    font-family: 'Jost', 'Actor', 'Alef', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    font-size: 20px;
    overflow: auto;
    position: relative;
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
}

 Image styling
img {
    max-width: 40px;
} 
/* .img-thumbnail {
    border: none;
}
.baller {
    display: flex;
    align-items: center;
    justify-content: center;
}

Header styling
header {
    width: 100%;
    height: 80px;
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: 2em; 
    line-height: 20%; 
    letter-spacing: 0.05em;
}

Hover styling
.highlight:hover {
    color: #e45858;
} */

/* Nav bar styling */
/* .navbar-toggler {
    color: rgb(102, 44, 44);
    font-size: 20px;
}
#toggler {
    position: absolute;
    outline: none; */
/* }
.navbar {
    min-height: 80px;
    width: 100%;
    background-color: rgb(255, 136, 0);
    text-transform: uppercase;
    border-radius: 0;
}
.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Sticky nav bar on scroll*/
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.sticky + .container {
    padding-top: 90px;
}

/* Product card styling */
/* .container {
    text-align: center;
    position: relative; 
} */ 

/* .inputBox {
    border: none;
    text-align: center;
    width: 45px; 
    line-height: 90%;
}

.inputButton:focus, .inputBox:focus, .removeBtn:focus {
    outline: none;
}

.errorBox {
    width: 100%; 
    height: 40px; 
    margin-top: 5px;
    color: #ff2e2e;
    padding-top: 3px;
    line-height: 95%;
}  */

/* .qtyButton {
    background: none;
    border: none;
    margin: none;
    font-size: 30px;
    line-height: 90%;
}

/* Button styling */
/* .sm-button {
    width: 80%;
    height: 50px; 
    border-radius: 50px; 
    border: none;
    background-color: #00171f; 
    color: #f7fcff; 
    text-transform: uppercase; 
    letter-spacing: 0.2em;
} */ 

/* Adjusting responsive screen */
/* @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        max-width: 100%;
    }
    h5 {
        font-size: 18px
    }
    td {
        font-size: 16px;
    }
} */
