@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    font-family: "Creepster", sans-serif;    margin: 0 auto;
    font-size: 20px;
    overflow: auto;
    position: relative;
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
}

 .small_img {
    width: 500px;
    height: 500px;} 